//- extends layout

//- block content
//-   h1= title

//-   ul
//-   each val in jobinstance_list
//-     li 
//-       a(href=val.url) #{val.job.title} : #{val.imprint} - 
//-       if val.status=='Applied'
//-         span.text-success #{val.status}
//-       else if val.status=='Network'
//-         span.text-danger #{val.status}
//-       else
//-         span.text-warning #{val.status} 
//-       if val.status!='Applied'
//-         span  (Follow Up: #{val.follow_up_formatted} )
        

//-   else
//-     li There are no jobs copies in your list